{% extends "base.html" %}
{% load static %}
{% block content %}
<title>AI Assist</title>
<h1>Created by Artificial Intelligence</h1>
<h3>Comming soon...</h3>
<link rel="stylesheet" href="{% static 'css/ai_assist.css' %}">
<script src="{% static 'js/ai_assist.js' %}"></script>
<div class="main">
<form action="/ai_assist/" method="post" enctype="multipart/form-data" id="main_form">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary" id="go_to_api">GO</button>
        <div class="second_center">
                <!--ハウスさん情報-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>名前</th>
                            <th>MAX部屋数</th>
                            <th>前回担当フロア</th>
                            <th>前回コンフォート</th>
                            <th>大浴場担当有無</th>
                        </tr>
                    </thead>
                    <tbody id="house_table_body">
                        {% with ''|center:5 as range %}
                            {% for _ in range %}
                            <tr class="tr_house">
                                <td class="td_no">
                                        <input type="number" name="no" id="no" class="input_no" {% if not forloop.last %} value="{{forloop.counter|add:add_house_len}}" {% endif %} min="1">
                                </td>
                                <td class="td_name">
                                    <input type="text" name="name" id="name" class="input_name"  >
                                </td>
                                <td>
                                    <input type="number" class="max_cell" id="max" name="max" min="1" >
                                </td>
                                <td class="td_floor">
                                    <input type="text" class="floor_cell" id="least_floor" name="least_floor" >
                                </td>
                                <td>
                                    <input type="text" name="is_least_comfort" id="is_least_comfort" class="least_comfort_cell">
                                </td>
                                <td>
                                    <input type="text" name="is_bath" id="is_bath" class="bath_cell" >
                                </td>
                            </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="second_right">
                <!--エコ・アメ・デュべ-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>エコ部屋</th>
                            <th>アメ</th>
                            <th>デュべ</th>
                        </tr>
                    </thead>
                    <tbody id="clean_method_body">
                        {% for row in room_char_list %}
                        <tr class="tr_clean_method">
                            <td class="td_eco">
                                <input value="{{row.0.eco.0}}" type="text" name="eco_room" id="eco_room" class="input_eco">
                                <input value="{{row.0.eco.1}}" type="text" name="eco_room" id="eco_room" class="input_eco">
                                <input value="{{row.0.eco.2}}" type="text" name="eco_room" id="eco_room" class="input_eco">
                            </td>
                            <td>
                                <input value="{{row.1.ame}}" type="text" name="amenity" id="amenity" class="input_amenity">
                            </td>
                            <td class="td_duvet">
                                <input value="{{row.2.duvet.0}}" type="text" name="duvet" id="duvet" class="input_duvet">
                                <input value="{{row.2.duvet.1}}" type="text" name="duvet" id="duvet" class="input_duvet">
                            </td>
                        </tr>
                        {% endfor %}

                        {% with ''|center:room_char_list_len as range %}
                            {% for _ in range %}
                                <tr class="tr_clean_method">
                                    <td class="td_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                    </td>
                                    <td>
                                        <input type="text" name="amenity" id="amenity" class="input_amenity">
                                    </td>
                                    <td class="td_duvet">
                                        <input type="text" name="duvet" id="duvet" class="input_duvet">
                                        <input type="text" name="duvet" id="duvet" class="input_duvet">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="not_clean_required">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>清掃不要</th>
                        </tr>
                    </thead>
                    <tbody id="clean_method_body">
                        {% with ''|center:room_char_list_len as range %}
                            {% for _ in range %}
                                <tr class="tr_clean_method">
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                    <td class="td_eco">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                        <input type="text" name="not_clean_required" id="not_clean_required" class="not_clean_required_cell">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
            </div>
            <div class="room_per_person">
                <table>
                    <thead>
                        <tr>
                            <th>担当部屋数</th>
                            <th>人数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="number" id="rooms" name="rooms" min="0" class="input_rooms_rooms_per_person">
                            </td>
                            <td>
                                <input type="number" id="persons" name="persons"  min="0" class="input_persons_rooms_per_person">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" id="rooms" name="rooms" min="0" class="input_rooms_rooms_per_person">
                            </td>
                            <td>
                                <input type="number" id="persons" name="persons"  min="0" class="input_persons_rooms_per_person">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" id="rooms" name="rooms" min="0" class="input_rooms_rooms_per_person">
                            </td>
                            <td>
                                <input type="number" id="persons" name="persons"  min="0" class="input_persons_rooms_per_person">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" id="rooms" name="rooms" min="0" class="input_rooms_rooms_per_person">
                            </td>
                            <td>
                                <input type="number" id="persons" name="persons"  min="0" class="input_persons_rooms_per_person">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="number" id="rooms" name="rooms" min="0" class="input_rooms_rooms_per_person">
                            </td>
                            <td>
                                <input type="number" id="persons" name="persons"  min="0" class="input_persons_rooms_per_person">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="free_constraints">
                <input type="text" id="free_constraints" name="free_constraints" placeholder="追加制約">
            </div>
        </div>
    </form>
</div>

<script>
    window.master_key = {{ master_key|safe }};
    window.single_rooms = {{ single_rooms|safe }};
    window.twin_rooms = {{ twin_rooms|safe }};
    window.method = "{{ method|safe }}";
    document.addEventListener("DOMContentLoaded", function () {
        const fileInput = document.getElementById("json_file");
        const mainForm = document.querySelector("form");
        
        const uploadUrl = "{% url 'home' %}";

        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                mainForm.setAttribute("action", uploadUrl);
                mainForm.setAttribute("enctype", "multipart/form-data");
                mainForm.submit();
            }
        });
    });
</script>

{% endblock %}