{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'favicon.ico' %}" id="favicon">
    <!-- Bootstrap CSS-->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'tablesorter/js/jquery.tablesorter.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'tablesorter/css/theme.default.min.css' %}">
  </head>
  <body style="background-color: #FAF1E6;">

    <!-- main base content -->
    <div class="main_contents" with="100%">
      {% block content %}
      {% endblock %}

      <!-- footer -->
      {% if 'preview' not in request.path %}
      <div class="footer" style="background-color: black; height: 16vh; width: 100%;">
        <img src="{% static 'logo.png' %}" alt="logo" style="height: 8vh; margin: auto; display: block; padding-top: 1vh;" >
        <a href="/report/" style="display: block; text-align: center; color: whitesmoke; font-size: 1.5vh; padding-top: 0.5vh;">レポート</a>
        <p style="color: whitesmoke; text-align: center; padding-top: 0.8vh;">Copyright © 2025 YutaSato,University of Tsukuba. All Rights Reserved.</p>
      </div>
      {% endif %}

      <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
