{% extends "base.html" %}
{% load static %}
{% block content %}
<title>home</title>
<link rel="stylesheet" href="{% static 'home.css' %}">
<div class="main">
    <form action="{% url 'preview' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="first_line">
            <!--日付-->
            <input class="input_date" type="date" name="date" id="date" required value="{{ today|date:'Y-m-d' }}">
            <div class="input_time_per_room_type">
                <!--部屋タイプ別清掃時間-->
                <p class="p_title">目標時間/min</p>
                <p class="p_topics">S　:　</p>
                <input class="input_time" type="number" name="single_time" id="single_time" required value="{{single_time}}">
                <p class="p_topics"> T　:　</p>
                <input class="input_time" type="number" name="twin_time" id="twin_time" required value="{{twin_time}}">
                <p class="p_topics"> 大浴場　:　</p>
                <input class="input_time" type="number" name="bath_time" id="bath_time" required value="{{bath_time}}">
            </div>
            <!--プレビュー表示ボタン-->
            <input type="submit" value="プレビュー表示" class="btn btn-primary submit">
        </div>
        <div class="second_line">
            <div class="second_left">
                <!--部屋別清掃指示入力-->
                <div class="room_table_area">
                    <table class="table table-striped">
                        <tbody>
                            <!--部屋情報-->
                            {% for floor in rooms %}
                            <tr>
                                {% for room in floor %}
                                <td>
                                    {{room}}
                                    <input type="text" name="room_{{room}}" id="room_{{room}}" class="input_room" >
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="third_line">
                    <!--大浴場清掃-->
                    <div class="bath_area">
                        <p>大浴場清掃</p>
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                    </div>
                    <!--フロア別一括操作-->
                    <div class="floor_area">
                        <p>フロア別一括操作</p>
                        <input type="number" name="floor" id="delete_floor" class="input_delete_floor">
                        <p>階</p>
                        <button type="button" class="btn btn-danger " id="delete_floor_btn">削除</button>
                    </div>
                </div>
            </div>
            <div class="second_center">
                <!--ハウスさん情報-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>名前</th>
                            <th>部屋数</th>
                            <th>担当階</th>
                            <th>マスターキー</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="second_right">
                <!--エコ・アメ・デュべ-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>エコ部屋</th>
                            <th>アメ</th>
                            <th>デュべ</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="fourth_line">
            <!--備考-->
        </div>
    </form>
</div>

{% endblock %}