{% extends "base.html" %}
{% load static %}
{% block content %}
<title>home</title>
<link rel="stylesheet" href="{% static 'home.css' %}">
<script src="{% static 'home.js' %}"></script>
<div class="main">
    <form action="{% url 'preview' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="first_line">
            <!--日付-->
            <input class="input_date" type="date" name="date" id="date" required value="{{ today|date:'Y-m-d' }}">
            <div class="input_time_per_room_type">
                <!--部屋タイプ別清掃時間-->
                <p class="p_title">目標時間/min</p>
                <p class="p_topics">S　:　</p>
                <input class="input_time" type="number" name="single_time" id="single_time" required value="{{single_time}}">
                <p class="p_topics"> T　:　</p>
                <input class="input_time" type="number" name="twin_time" id="twin_time" required value="{{twin_time}}">
                <p class="p_topics"> 大浴場　:　</p>
                <input class="input_time" type="number" name="bath_time" id="bath_time" required value="{{bath_time}}">
            </div>
            <!--プレビュー表示ボタン-->
            <input type="submit" value="プレビュー表示" class="btn btn-primary submit">
        </div>
        <div class="second_line">
            <div class="second_left">
                <!--部屋別清掃指示入力-->
                <div class="room_table_area">
                    <table class="table table-striped">
                        <tbody>
                            <!--部屋情報-->
                            {% for floor in rooms %}
                            <tr>
                                {% for room in floor %}
                                <td data-room="{{room}}">
                                    {{room}}
                                    <input type="text" name="room_{{room}}" id="room_{{room}}" class="input_room" >
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="attention_note">※清掃不要の場合は0を入力</p>
                </div>
                <div class="third_line">
                    <!--大浴場清掃-->
                    <div class="bath_area">
                        <p>大浴場清掃：</p>
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                        <input type="number" name="bath" id="bath" class="input_bath">
                    </div>
                    <!--フロア別一括操作-->
                    <div class="floor_area">
                        <p>フロア別一括操作：</p>
                        <input type="number" name="floor" id="delete_floor" class="input_delete_floor">
                        <p>　階を　</p>
                        <button type="button" class="btn btn-danger " id="delete_floor_btn">削除</button>
                    </div>
                </div>
                <div class="third_plus_line">
                    <!--備考-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="remark_room">部屋番号</th>
                                <th >備考</th>
                            </tr>
                        <tbody id="remark_table_body">
                            {% with ''|center:3 as range %}
                                {% for _ in range %}
                                <tr>
                                    <td>
                                        <input type="text" name="remark_room_{{forloop.counter}}" id="remark_room_{{forloop.counter}}" class="input_remark_room">
                                    </td>
                                    <td>
                                        <input type="text" name="remark_{{forloop.counter}}" id="remark_{{forloop.counter}}" class="input_remark">
                                    </td>
                                </tr>
                                {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="second_center">
                <!--ハウスさん情報-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>名前</th>
                            <th>数</th>
                            <th>担当階</th>
                            <th>キー</th>
                        </tr>
                    </thead>
                    <tbody id="house_table_body">
                        {% with ''|center:10 as range %}
                            {% for _ in range %}
                            <tr class="tr_house">
                                <td class="td_no">
                                    <input type="number" name="no_{{forloop.counter}}" id="no_{{forloop.counter}}" class="input_no" {% if not forloop.last %} value="{{forloop.counter}}" {% endif %} min="1">
                                </td>
                                <td class="td_name">
                                    <input type="text" name="name_{{forloop.counter}}" id="name_{{forloop.counter}}" class="input_name">
                                </td>
                                <td>
                                    <p class="count_cell" id="count_{{forloop.counter}}">0</p>
                                </td>
                                <td>
                                    <p class="floor_cell" id="floor_{{forloop.counter}}">None</p>
                                </td>
                                <td>
                                    <input type="text" name="key_{{forloop.counter}}" id="key_{{forloop.counter}}" class="key_cell" value="None">
                                </td>
                            </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
            <div class="second_right">
                <!--エコ・アメ・デュべ-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>エコ部屋</th>
                            <th>アメ</th>
                            <th>デュべ</th>
                        </tr>
                    </thead>
                    <tbody id="clean_method_body">
                        {% with ''|center:10 as range %}
                            {% for _ in range %}
                                <tr class="tr_clean_method">
                                    <td class="td_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                        <input type="text" name="eco_room" id="eco_room" class="input_eco">
                                    </td>
                                    <td>
                                        <input type="text" name="amenity" id="amenity" class="input_amenity">
                                    </td>
                                    <td class="td_duvet">
                                        <input type="text" name="duvet" id="duvet" class="input_duvet">
                                        <input type="text" name="duvet" id="duvet" class="input_duvet">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="fourth_line">
            <p class="result_title">清掃指示</p>
            <table class="table table-striped">
                <thead>
                    <tr id="result_table_header">
                        <!-- <th></th><th>Aさん</th>... -->
                    </tr>
                </thead>
                <tbody id="result_table_body">
                    <tr id="bath_row">
                        <!-- <td>大浴場清掃</td><td>〇</td>... -->
                    </tr>
                    <!-- 担当部屋・エコ部屋の行が JSで追加される -->
                </tbody>
            </table>
              
        </div>
        <input type="hidden" name="master_key" id="master_key" value="{{ master_key }}">
        <input type="hidden" name="single_rooms" id="single_rooms" value="{{ single_rooms }}">
        <input type="hidden" name="twin_rooms" id="twin_rooms" value="{{ twin_rooms }}">
    </form>
</div>

<script>
    window.master_key = {{ master_key|safe }};
    window.single_rooms = {{ single_rooms|safe }};
    window.twin_rooms = {{ twin_rooms|safe }};
  </script>
{% endblock %}