{% extends "base.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
<title>Preview</title>
<link rel="stylesheet" href="{% static 'preview.css' %}">
<script src="{% static 'preview.js' %}"></script>

<div class="preview_container">
    <p class="cover_title">清掃指示内容</p>
    <div class="cover_second_line">
        <p>{{date}}</p>
        <div class="house_people">
            <p>ハウスさん</p>
            <p>{{house_person_count}}</p>
            <p>名</p>
        </div>
    </div>
    <div class="cleaning_room_num">
        <p>ナイト清掃指示部屋総数</p>
        <p class="total_rooms">　{{total_cleaning_room}}　</p>
        <p>部屋</p>
    </div>
    <p class="cover_semi_title">大浴場担当者</p>
    <div class="bath_persons">
        {% for person in bath_person %}
        <p>{{person}}</p>
        <p>さん　</p>
        {% endfor %}
    </div>
    <p class="cover_semi_title">ルームチェンジ</p>
    {% for room_change in room_changes_persons %}
    <div class="room_change">
        <p>　　{{room_change.original}}</p>
        <p>号室</p>
        <p>　　{{room_change.original_name}}</p>
        <p>さん　　　</p>
        <p>→</p>
        <p>　　{{room_change.destination}}</p>
        <p>号室</p>
        <p>　　{{room_change.destination_name}}</p>
        <p>さん</p>
    </div>
    {% endfor %}
    <div class="room_change">
        <p>　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん　　　</p>
        <p>→</p>
        <p>　　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん</p>
    </div>
    <div class="room_change">
        <p>　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん　　　</p>
        <p>→</p>
        <p>　　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん</p>
    </div>
    <div class="room_change">
        <p>　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん　　　</p>
        <p>→</p>
        <p>　　　　　　</p>
        <p>号室</p>
        <p>　　　　　</p>
        <p>さん</p>
    </div>

    
    <div class="cover_outin_roomchange">
        <div>
            <p class="cover_semisemi_title">アウト/イン</p>
            {% for outinA, outinB in outins %}
            <div class="outin_line">
                <p>{{outinA}}</p>
                <p>号室</p>
                <p>{{outinB}}</p>
                <p>号室</p>
            </div>
            {% endfor %}
            <div class="outin_line">
                <p>　　　　　</p>
                <p>号室</p>
                <p>　　　　　　　</p>
                <p>号室</p>
            </div>
            <div class="outin_line">
                <p>　　　　　</p>
                <p>号室</p>
                <p>　　　　　　　</p>
                <p>号室</p>
            </div>
        </div>
        <div class="room_change_reason">
            <p class="cover_semisemi_title">ルームチェンジ等の為要清掃　理由</p>
            {% for must_clean in must_cleans %}
            <div class="outin_line">
                <p>　　{{must_clean.room}}　</p>
                <p>号室</p>
                <p>　　{{must_clean.reason}}</p>
            </div>
            {% endfor %}
            <div class="outin_line">
                <p>　　　　　</p>
                <p>号室</p>
                <p>　　　　　　　　　　</p>
            </div>
            <div class="outin_line">
                <p>　　　　　</p>
                <p>号室</p>
                <p>　　　　　　　　　　</p>
            </div>
        </div>
    </div>
    <p class="cover_semi_title">入れ込み・回収指示</p>
    <div class="cover_remark">
        <table class="table table-striped table-bordered bottom_table">
            {% for remark in remarks %}
            <tr class="cover_tr">
                <td class="cover_room_num">{{ remark.0 }}号室</td>
                <td class="cover_remark_content">{{ remark.1 }}</td>
                <td class="cover_name">{{ remark.2 }}さん</td>
            </tr>
            {% endfor %}
        
            {# 1行追加した上で最低10行になるよう空行追加 #}
            {% with remarks|length as remark_len %}
                {% for i in remark_len|add:"1"|until:11 %}
                <tr class="cover_tr">
                    <td class="cover_room_num_null">　　　号室</td>
                    <td></td>
                    <td class="cover_name_null">　　　　さん</td>
                </tr>
                {% endfor %}
            {% endwith %}
        </table>
    </div>
    <p class="cover_semi_title">その他備考</p>
    <div class="cover_others">
        <p>{{ others|linebreaksbr }}</p>
    </div>

</div>
{% for person_data in data %}
<div class="preview_container">
    <div class="title">
        <p class="cleaner">担当</p>
        <p class="name">{{person_data.name}}</p>
        <p class="mr">さん</p>
        <p class="hk">HOUSE KEEPING</p>
        <p class="hk">{{person_data.date}}</p>
    </div>
    <div class="room_table">
        <table class="table table-striped table-bordered cleaning_room_table">
            <thead>
                <th class="small_mark main_table_title"></th>
                <th class="room_num_title main_table_title">Room No</th>
                <th class="mark main_table_title">連泊</th>
                <th class="mark main_table_title">C/O</th>
                <th class="mark main_table_title">エコ</th>
                <th class="mark main_table_title">デュべ</th>
                <th class="remarks main_table_title">備考</th>
                <th class="mark main_table_title">清掃済</th>
                <th class="mark main_table_title">インスペ</th>
                <th class="mark main_table_title">TV</th>
            </thead>
            <tbody>
                {% for room in person_data.rooms %}
                <tr class="tr_data">
                    <td class="main_table_content">{{forloop.counter}}</td>
                    <td class="room_num main_table_content">{{room.room_num}} ({{room.room_type}})</td>
                    <td class="main_table_content"><!--連泊(空欄)--></td>
                    <td class="main_table_content"><!--C/O(空白)--></td>
                    {% if room.eco == True %}
                    <td class="content_mark main_table_content">★</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    {% if room.duvet == True %}
                    <td class="content_mark main_table_content">○</td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td class="main_table_content remark_content">{{room.remark}}</td>
                    <td class="main_table_content"><!--清掃済--></td>
                    <td class="main_table_content"><!--インスペ--></td>
                    <td class="main_table_content"><!--TV--></td>
                </tr>
                {% endfor %}
                {# 空白行を補完（17行まで） #}
                {% for i in person_data.rooms|length|add:'1'|until:18 %}
                <tr>
                    <td>{{ i }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
            <tr>
                <td colspan="2" class="second_table_row">大浴場清掃</td>
                {% if person_data.bath == True %}
                <td colspan="8" class="bath_please">大浴場清掃よろしくお願いいたします。</td>
                {% else %}
                <td colspan="8"></td>
                {% endif %}
            </tr>
        </table>
    </div>
    <div class="bottom_line">
        <div class="bottom_line_left">
            <table class="table table-bordered bottom_table">
                <tbody>
                    <tr>
                        <td class="bottom_left_left">マスターキー番号</td>
                        <td class="bottom_left_right important">{{person_data.key}}</td>
                    </tr>
                    <tr>
                        <td class="bottom_left_left">清掃終了目標時刻</td>
                        <td class="bottom_left_right important">{{person_data.end_time}}</td>
                    </tr>
                    <tr>
                        <td class="bottom_left_left">清掃終了時刻</td>
                        <td class="bottom_left_right">:</td>
                    </tr>
                    <tr>
                        <td class="bottom_left_left">大浴場清掃・リラクゼーション</td>
                        <td class="bottom_left_right">：</td>
                    <tr>
                        <td class="bottom_left_left">スポット清掃・ミーティング</td>
                        <td class="bottom_left_right">：</td>
                </tbody>
            </table>
            <table class="table table-bordered stamp_table bottom_table">
                <tbody>
                    <tr>
                        <td>作成者</td>
                        <td class="stamp"><p class="stamp_name">{{editor_name}}</p></td>
                        <td>早番</td>
                        <td class="stamp">印</td>
                        <td>インスペクション</td>
                        <td class="stamp">印</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom_line_right">
            <!--連絡事項-->
            <p class="note_title note">[連絡事項]</p>
            <p class="note">{{person_data.contact_1}}</p>
            <p class="note">{{person_data.contact_2}}</p>
            <p class="note">{{person_data.contact_3}}</p>
            <p class="note">{{person_data.contact_4}}</p>

            <table class="special_menu bottom_table">
                <tbody>
                    <tr>
                        <td class="special_menu_title">特別清掃(該当に◯)</td>
                        <td>　棚卸　　草取り</td>
                        <td rowspan="2" class="air_block">
                            <div>エアコンフィルター清掃</div>
                            <div class="num_air">台</div>
                        </td>
                    </tr>
                    <tr>
                        <td>新人研修　　改装関連</td>
                        <td>　　ミーティング参加</td>
                    </tr>
                </tbody>
            </table>
            <p class="weekly">{{person_data.weekly}}</p>
            <table class="table table-bordered forget_table bottom_table">
                <thead>
                    <td class="forget_room_no forget">部屋番号</td>
                    <td class="forget">忘れ物</td>
                    <td class="forget_room_no forget">部屋番号</td>
                    <td class="forget">忘れ物</td>
                </thead>
                <tbody>
                    <tr class="forget_col">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="forget_col">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="forget_col">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="affilication">
        <p class="aff">ルートイン水海道駅前</p>
        <p class="aff">上記日程を終了致しました。</p>
        <p class="aff">(清掃担当者)署名　　　　　　　　　　</p>
    </div>
</div>
{% endfor %}
<div style="height: 2vh;"></div>
{% endblock %}